*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
#tela{
    background: url(../images/maps/background-test.jpg) no-repeat center;
    background-size: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 720px;
    height: 480px;
}